// section agent------------------ //
.agent {
    padding-top: 115px;
}

.agent__btn {
    margin-bottom: 16px;

    a {
        display: flex;
        align-items: center;
        padding: 10px 16px;
        color: var(--Black, #050505);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0.15px;

        img {
            width: 18px;
            height: 18px;
            margin-right: 8px;
        }
    }
}

.agent__inner {
    display: flex;
    border-radius: 16px;
    border: 1px solid var(--Light-grey, #D1D1D1);
    background: var(--White, #FBFBFB);
    padding: 40px;
}

.agent__inner-photo {
    position: relative;
    margin-right: 32px;

    >img {
        width: 395px;
        height: 395px;
        border-radius: 16px;
        overflow: hidden;
    }

    .video-btn {
        position: absolute;
        top: 16px;
        left: 16px;
        display: flex;
        align-items: center;
        padding: 10px 24px 10px 16px;
        border-radius: 100px;
        background: var(--White, #FBFBFB);
        transition: .3s;

        img {
            width: 18px;
            height: 18px;
            margin-right: 8px;
        }

        &:hover {
            background: var(--Light-grey-shade-7, #F1F1F1);
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
        }
    }
}

.agent__inner-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.agent__inner-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 23px;
    border-bottom: 1px solid #D1D1D1;

    .info {
        h3 {
            color: var(--Black, #050505);
            margin-bottom: 8px;
            font-family: Mont;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }

        p {
            color: rgba(5, 5, 5, 0.70);
            font-family: Mont;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0.15px;
        }
    }

    .contacts {
        ul {
            display: flex;
            justify-content: flex-end;

            li+li {
                margin-left: 24px;
            }

            a {
                height: 40px;
                width: 40px;
                border-radius: 100px;
                background: var(--Black, #050505);
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--m-3-sys-light-on-primary, #FFF);
                text-align: center;
                font-family: Mont;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: 0.15px;
                transition: .3s;

                img {
                    width: 18px;
                    height: 18px;
                    background-size: cover;
                }

                &.phone {
                    width: auto;
                    padding: 5px 16px;

                    img {
                        margin-right: 8px;
                    }
                }

                &:hover {
                    filter: brightness(80%);
                }
            }
        }
    }
}

.agent__inner-text {
    padding-top: 24px;
    margin-bottom: 20px;

    h3 {
        color: var(--Black, #050505);
        font-family: Mont;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 16px;
    }

    p {
        color: rgba(5, 5, 5, 0.70);
        font-family: Mont;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.1px;
    }
}

.agent__inner-bottom {
    margin: auto 0 0;

    ul {
        width: 100%;
        display: flex;

        li+li {
            margin-left: 24px;

            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                height: 19px;
                width: 1px;
                background: #D1D1D1;
                margin-right: 23px;
            }
        }

        span,
        p {
            color: var(--Black, #050505);
            font-family: Mont;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: 0.5px;
            display: inline-block;
            vertical-align: middle;
        }

        span {
            margin-left: 8px;
        }
    }
}






// section agent-object ----------------//
.agent-object {
    padding: 40px 0 54px;

    .proposition__slider,
    .proposition__slider-arrows {
        display: none;
    }
}

.agent-object__head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 48px;

    >span {
        color: var(--Black, #050505);
        text-align: center;
        font-family: Mont;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.15px;
    }
}

.agent-object__inner {
    .proposition__slide {
        margin-bottom: 48px;
    }

}



.pagination {
    width: 100%;

    ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            margin: 0 8px;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.prev,
            &.next {
                border-radius: 100px;
                border: 1px solid rgba(5, 5, 5, 0.3);
                width: 64px;
                height: 40px;
                transition: 0.3s;
                margin: 0 8px;
                transition: 0.3s;

                &.inactive {
                    pointer-events: none;
                }

                svg path {
                    transform: .3s;
                }

                &:hover {
                    border: 1px solid rgb(5, 5, 5);
                    background: var(--Black, #050505);

                    svg path,
                    svg path {
                        fill: #fff;
                        fill-opacity: 1;
                    }
                }
            }
        }

        a {
            color: var(--Mid-Grey, #5C6476);
            text-align: center;
            font-family: Mont;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            transition: .3s;

            &:hover,
            &.active {
                color: var(--Dark-Grey, #22232A);
            }
        }
    }
}

// broker-form -------- //

.broker-form {
    margin-bottom: 92px;
}

.broker-form__inner {
    position: relative;
    padding: 60px 50px 88px;
    border-radius: 16px;
    overflow: hidden;
    background-color: #050505;

    &:after {
        content: "";
        background-image: url(../img/svg/frame_form.svg);
        width: 100%;
        height: 100%;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    .selection__right .formbtn {
        margin-top: 57px;
    }
}



//  ADAPTIVE ----------------- //

@media (max-width:1399.8px) {
    .agent__inner {
        padding: 20px;
    }

    .agent__inner-photo {
        margin-right: 25px;
    }

    .agent__inner-head .info h3 {
        font-size: 26px;
    }

    .agent__inner-head {
        .info {
            width: 50%;
        }

        .contacts {
            width: 50%;

        }
    }

    .agent__inner-photo>img {
        width: 350px;
        height: 350px;
    }
}

@media (max-width:1199.8px) {
    .agent-object__inner .proposition__slide {
        margin-bottom: 30px;
    }

    .agent__inner-photo>img {
        width: 250px;
        height: 250px;
    }

}



@media (max-width:991.8px) {
    .agent-object {

        .proposition__slider,
        .proposition__slider-arrows {
            display: flex;
        }

        .row {
            display: none;
        }

        .pagination {
            display: none;
        }
    }

    .agent__inner {
        flex-wrap: wrap;
    }

    .agent__inner-photo {
        margin: 0 0 40px 0;

        img {
            width: 350px;
            height: 350px;
        }
    }

}

@media (max-width:767.8px) {
    .broker-form {
        position: relative;
        padding: 64px 0 55px;
        margin: 0;
        background-color: #050505;

        &:after {
            content: "";
            background-image: url(../img/svg/frame_form.svg);
            width: 100%;
            height: 40%;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .broker-form__inner {
        padding: 0;

        &:after {
            display: none;
        }
    }


    .broker-form__inner .selection__right .formbtn {
        margin-top: 32px;
    }

    .agent-object .proposition__slider-arrows {
        display: flex;
    }

    .agent__inner-head .contacts ul {
        flex-wrap: wrap;

        li {
            order: 2;

            &+li {
                margin-left: 24px;
            }
        }

        li:last-child {
            order: 1;
            margin: 0;
            width: 100%;
            text-align: right;
            margin-bottom: 16px;

            a {
                display: inline-flex;
            }
        }
    }

    .agent__inner-bottom ul {
        display: block;
    }

    .agent__inner-bottom ul li+li {
        margin: 9px 0 0 0;
    }

    .agent__inner-bottom ul li+li:before {
        display: none;
    }

    .agent__inner-photo img {
        width: 100%;
        height: auto;
    }
}

@media (max-width:575.8px) {
    .agent-object__head {
        display: block;
        margin-bottom: 24px;
    }

    .agent {
        padding-top: 65px;
    }

    .agent__inner {
        padding: 16px;
    }

    .agent__inner-head .info h3 {
        font-size: 22px;
    }

    .agent__inner-head .info p {
        font-size: 12px;
    }

    .agent__inner-head {
        flex-wrap: wrap;

        .contacts {
            width: 100%;
        }

        .info {
            margin-bottom: 24px;
            width: 100%;
        }
    }

    .agent__inner-head .contacts ul {
        justify-content: flex-start;
    }

    .agent__inner-head .contacts ul li:last-child {
        text-align: left;
    }

    .agent__inner-head {
        padding-bottom: 16px;
    }

    .agent__inner-photo {
        margin: 0px 0 24px 0;
    }

    .agent__inner-text h3 {
        font-size: 20px;
    }
}