// section cp-heroscreen -------------- //

.cp-heroscreen {
    display: flex;
    justify-content: center;
    padding-top: 236px;
    height: 626px;

}

.cp-heroscreen__inner {
    text-align: center;

    h1 {
        text-align: center;
        font-weight: 500;
        margin-bottom: 27px;
    }

    p {
        color: rgba(5, 5, 5, 0.70);
        text-align: center;
        font-family: Mont;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.15px;
        margin-bottom: 34px;
    }

    a {
        display: inline-flex;
    }
}

// section cp-services -------------- //

.cp-services {
    background: var(--Black, #050505);
    padding: 64px 0 86px;
}

.cp-services__title {
    max-width: 670px;
    color: var(--Light-grey, #D1D1D1);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin: 0 auto 104px;
}


.cp-services__item {
    display: flex;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: rgba(34, 241, 0, 0.20);
        margin-right: 24px;
        width: 48px;
        height: 48px;
    }

    p {
        color: var(--White, #FBFBFB);
        font-family: Mont;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        max-width: 350px;
        width: calc(100% - 72px);
    }
}

// section cp-values -------------- //
.cp-values {
    padding: 120px 0 140px;
}

.cp-values__content {
    li {
        padding: 40px 0;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #D1D1D1;

        span {
            margin-right: 24px;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            font-weight: 500;
            background: var(--Black, #050505);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
        }

        p {
            color: var(--Black, #050505);
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            width: calc(100% - 72px);
        }
    }
}

// section cp-feedback -------------- //
.cp-feedback {
    padding-bottom: 120px;
}

.cp-feedback__title {
    margin-bottom: 54px;

    h2 {
        text-align: center;
    }
}

.cp-feedback__video {
    border-radius: 16px;
    overflow: hidden;

    .plyr--video {
        height: 380px;
    }
}

.cp-feedback__image {
    border-radius: 16px;
    overflow: hidden;

    img {
        width: 100%;
        height: 380px;
        object-fit: cover;
    }
}

// section cp-corporate -------------- //
.cp-corporate {
    padding-bottom: 100px;
}

.cp-corporate__top {
    margin-bottom: 104px;
}

.cp-corporate__descr {
    p {
        color: var(--Black, #050505);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.3px;
    }
}

.cp-corporate__gallery-mobile {
    display: none;
}

.cp-corporate__gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 27px;
}

.cp-corporate__img {
    border-radius: 16px;
    overflow: hidden;

    img {
        height: 227px;
        background-size: cover;
    }
}

// section cp-vacancies -------------- //

.cp-vacancies {
    padding-bottom: 120px;
}

.cp-vacancies__title {
    margin-bottom: 24px;
    max-width: 550px;
}

.cp-vacancies__descr {
    max-width: 500px;

    p {
        color: rgba(5, 5, 5, 0.70);
        font-family: Mont;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.15px;

        &+p {
            margin-top: 15px;
        }
    }

    a {
        color: #387FEB;
        font-family: Mont;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        line-height: 24px;
        letter-spacing: 0.15px;
        text-decoration-line: underline;
    }
}

.cp-vacancies__box {
    width: 100%;
    border-radius: 16px;
    border: 1px solid var(--Light-grey, #D1D1D1);
    background: var(--White, #FBFBFB);
    display: flex;
    height: 219px;
    padding: 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px;
    margin-bottom: 24px;
}

.cp-vacancies__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h3 {
        color: var(--Black, #050505);
        font-family: Mont;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    span {
        color: rgba(5, 5, 5, 0.70);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.15px;
    }

    a {
        padding: 10px 24px 10px 16px;
        margin: 0 0 0 auto;
    }
}

// section cp-faq -------------- //

.cp-faq {
    padding-bottom: 120px;
}

.cp-faq__title {
    max-width: 550px;
    margin-bottom: 24px;
}

.cp-faq__descr {
    max-width: 500px;

    p {
        color: rgba(5, 5, 5, 0.70);
        font-family: Mont;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.15px;

        &+p {
            margin-top: 15px;
        }
    }

    a {
        color: #387FEB;
        font-family: Mont;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        line-height: 24px;
        letter-spacing: 0.15px;
        text-decoration-line: underline;
    }
}

.cp-faq__row {
    padding-right: 70px;
    border-bottom: 1px solid #D1D1D1;

    .accordeon-head {
        padding: 40px 0;
        position: relative;
        cursor: pointer;

        h4 {
            color: var(--Black, #050505);
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }

        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -70px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            border: 1px solid var(--Black-shade-9, #E6E6E6);

            &:before,
            &:after {
                content: '';
                width: 14px;
                height: 1px;
                background-color: #050505;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: .4s;
                transform-origin: center;
            }

            &:before {
                transform: translate(-50%, -50%) rotate(-90deg);
            }
        }

        &.active {
            i:before {
                transform: rotate(0deg) translate(-50%, -50%);
                left: 50%;
            }
        }
    }

    .descr {
        display: none;
        padding: 16px 0 40px;
        ol{
            padding-left: 25px;
        }

        li,
        p {
            color: rgba(5, 5, 5, 0.70);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.3px;
        }

        .big-list {
            li {
                &+li {
                    margin-top: 25px;
                }
            }
        }

        p+p {
            margin-top: 20px;
        }

        ul,
        ol {
            margin-bottom: 20px;
        }
    }
}

// cp-form -------- //

.cp-form {
    margin-bottom: 120px;
}

.cp-form__inner {
    position: relative;
    padding: 60px 0 88px;
    border-radius: 16px;
    overflow: hidden;
    background-color: #050505;

    &:after {
        content: "";
        background-image: url(../img/svg/frame_form.svg);
        width: 100%;
        height: 100%;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    .selection__right .formbtn {
        margin-top: 56px;
    }
}

.remove-file {
    border: none;
    background-color: transparent;
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;

    img {
        margin: 0;
        width: 100%;
        height: 100%;
    }
}


// popup

.popup__window.popup-not-supported {
    background: rgba(33, 33, 33, 0.25);

    .popup__body {
        max-width: 700px;
        border-radius: 16px;
        background: var(--Light-grey-shade-8, #F6F6F6);
        box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);
        padding: 32px 24px;
    }

    .popup__content {
        max-width: 100%;

        p {
            color: rgba(5, 5, 5, 0.70);
            font-family: Mont;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0.15px;
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid #D1D1D1;
        }

        .popup__close {
            text-align: right;
            display: block;

            span {
                color: var(--Black, #050505);
                font-family: Mont;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
                letter-spacing: 0.15px;
                display: inline-block;
                margin: 0 0 0 auto;
                padding: 10px 24px;
                border-radius: 100px;
                transition: .3s;
                cursor: pointer;

                &:hover {
                    background: var(--Light-grey-shade-5, #E8E8E8);
                }
            }
        }
    }
}







//  ADAPTIVE ---------------- //

@media (max-width:1599.8px) {
    .cp-feedback__video .plyr--video {
        height: 344px;
    }

    .cp-feedback__image img {
        height: 344px;
    }
}

@media (max-width:1399.8px) {
    .cp-feedback__video .plyr--video {
        height: 320px;
    }

    .cp-feedback__image img {
        height: 320px;
    }

    .cp-services__title {
        margin: 0 auto 70px;
    }

    .cp-form__inner {
        padding: 60px 50px 88px;
    }

    .cp-services__item p {
        font-size: 18px;
    }
}

@media (max-width:1199.8px) {
    .cp-faq__row .accordeon-head h4 {
        font-size: 22px;
    }

    .cp-faq__descr,
    .cp-faq__title {
        padding-right: 30px;
    }

    .cp-feedback__video .plyr--video {
        height: 300px;
    }

    .cp-feedback__image img {
        height: 300px;
    }
}

@media (max-width:991.8px) {
    .cp-faq__descr {
        margin-bottom: 40px;
    }

    .cp-vacancies {
        padding-bottom: 90px;
    }

    .cp-vacancies__descr {
        margin-bottom: 24px;
    }

    .cp-corporate__top {
        margin-bottom: 60px;
    }

    .cp-corporate__title {
        margin-bottom: 24px;
    }

    .cp-feedback {
        padding-bottom: 90px;
    }

    .cp-feedback__video .plyr--video {
        height: 340px;
    }

    .cp-feedback__image img {
        height: 340px;
    }

    .cp-feedback__video {
        margin-bottom: 20px;
    }

    .cp-values {
        padding: 100px 0;
    }

    .cp-services__item {
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 40px;

        .icon {
            margin: 0 auto 25px;
        }

        p {
            width: 100%;
            max-width: 100%;
        }
    }

    .cp-services {
        padding: 64px 0 50px;
    }

}

@media (max-width:767.8px) {
    .popup__window.popup-not-supported .popup__content .popup__close {
        position: relative;
        right: initial;
    }

    .cp-form {
        position: relative;
        padding: 64px 0 55px;
        margin: 0;
        background-color: #050505;

        &:after {
            content: "";
            background-image: url(../img/svg/frame_form.svg);
            width: 100%;
            height: 40%;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .cp-form__inner {
        padding: 0;

        &:after {
            display: none;
        }
    }

    .cp-feedback__video .plyr--video {
        height: 300px;
    }

    .cp-feedback__image img {
        height: 300px;
    }

    .cp-values {
        padding: 70px 0 100px;
    }

    .cp-services__item p {
        font-size: 16px;
    }

}

@media (max-width:575.8px) {
    .cp-form .checkfield span {
        text-align: left;
    }

    .cp-faq {
        padding-bottom: 90px;
    }

    .cp-faq__row .accordeon-head i {
        right: -45px;
    }

    .cp-faq__row {
        padding-right: 45px;
    }

    .cp-faq__row .descr {
        padding-left: 20px;
    }

    .cp-vacancies {
        padding-bottom: 50px;
    }

    .cp-vacancies__box {
        height: auto;
    }

    .cp-vacancies__row {
        flex-wrap: wrap;

        h3 {
            margin-bottom: 8px;
        }

        span {
            width: 100%;
            margin-bottom: 43px;
        }

        a {
            width: 100%;
        }
    }

    .cp-corporate__img {
        height: 213px;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .cp-corporate__gallery-mobile {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
    }

    .cp-corporate__gallery {
        display: none;
    }

    .cp-corporate__img.narrow {
        width: 160px;
    }

    .cp-corporate__img.wide {
        width: 328px;
    }

    .cp-corporate__top {
        margin-bottom: 24px;
    }

    .cp-feedback {
        padding-bottom: 50px;
    }

    .cp-feedback__video {
        margin-bottom: 16px;
    }

    .cp-feedback__video .plyr--video {
        height: 200px;
    }

    .cp-feedback__image img {
        height: 200px;
    }

    .cp-feedback__title {
        margin-bottom: 24px;

        h2 {
            font-size: 24px;
        }
    }

    .cp-values {
        padding: 56px 0;
    }

    .cp-values__content li span {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .cp-values__content li {
        padding: 16px 0;
    }

    .cp-values__content li p {
        font-size: 16px;
    }

    .cp-services__item {
        margin-bottom: 32px;
    }

    .cp-services__item .icon {
        margin: 0px auto 16px;
    }

    .cp-services__item p {
        font-size: 14px;
    }

    .cp-services {
        padding: 32px 0 0;
    }

    .cp-services__title {
        font-size: 16px;
        margin: 0 auto 40px;
    }

    .cp-heroscreen {
        padding: 80px 0 50px;
        height: auto;
    }

    .cp-heroscreen__inner h1 {
        margin-bottom: 16px;
    }

    .cp-heroscreen__inner p {
        margin: 0 auto 24px;
        max-width: 60%;
        font-size: 12px;
    }

}

@media (max-width:355.8px) {
    .cp-corporate__img.wide {
        width: 310px;
    }

    .cp-corporate__img.narrow {
        width: 144px;
    }
}