.estate {
    padding-top: 88px;
}

.estate__head {
    border-bottom: 1px solid var(--Light-grey, #D1D1D1);
}

.estate__mobile {
    display: none;
}

.estate__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 72px;

    input {
        border-radius: 100px;
        border: 1px solid var(--Mid-black, #212121);
        background: #FBFBFB;
        height: 40px;
        width: 100%;
        color: var(--Mid-black, #212121);
        font-family: Mont;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.1px;
        padding: 7px 10px 7px 24px;
        cursor: pointer;

        &::placeholder {
            transition: .3s;
            color: var(--Mid-black, #212121);
            font-family: Mont;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
        }
    }


    .inputfield {
        margin-right: 8px;
        position: relative;
        cursor: pointer;

        &:nth-child(1) {
            width: 109px;

            .dropdown-box {
                width: 226px;
                padding: 16px;
            }
        }

        &:nth-child(2) {
            width: 91px;

            .dropdown-box {
                width: 186px;
                padding: 16px;
            }
        }

        &:nth-child(3) {
            width: 130px;

            .dropdown-box {
                width: 288px;
                padding: 16px 16px 24px;
            }
        }

        &:nth-child(4) {
            width: 116px;

            .dropdown-box {
                width: 288px;
                padding: 16px 16px 24px;
            }
        }

        &:nth-child(5) {
            width: 139px;

            .dropdown-box {
                width: 288px;
                padding: 16px 16px 24px;
            }
        }
    }


    .checkfield {
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        border-radius: 8px;
        padding: 7px 16px;
        height: 40px;
        transition: .3s;

        &:hover {
            background: rgba(209, 209, 209, 0.50);
        }


        span {
            color: #050505;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
            letter-spacing: 0.1px;

            &:before {
                content: '';
                display: inline-block;
                width: 18px;
                height: 18px;
                border: 1px solid #D9D9D9;
                border-radius: 4px;
                margin-right: 13px;
                vertical-align: middle;
                background-position: center;
            }
        }

        input {
            opacity: 0;
            position: absolute;
        }

        input:checked+span:before {
            background-image: url(../img/svg/checked-white.svg);
        }
    }

    .clearbtn {
        padding: 10px 24px;
        color: var(--Black, #050505);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0.15px;
        border-radius: 100px;
        transition: .3s;
        border: none;
        background: transparent;

        &:hover {
            background: #E8E8E8;
        }
    }
}

.estate__filter-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.estate__filter-tabs {
    border-radius: 100px;
    border: 1px solid var(--Black, #050505);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 0 0;

    .estate-tab {
        border-radius: 100px;
        height: 37px;
        padding: 9px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--Black, #050505);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0.15px;
        transition: .2s;

        &+.estate-tab {
            margin-left: 4px;
        }

        &.active {
            border: 1px solid #050505;
            background-color: #050505;
            color: #FFF;
        }
    }
}

.estate__inner {
    height: calc(100vh - 160px);
    min-height: 700px;
    display: flex;

    &.active-objects {
        .estate__map {
            width: 0;
            overflow: hidden;
        }

        .estate__objects {
            max-width: 1360px;
            margin: 0 auto;
            width: 100%;
            padding-right: 0 !important;

            .estate__objects-button {
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &.active-map {
        .estate__map {
            width: 100%;
        }

        .estate__objects {
            width: 0;
            padding: 0 !important;
            overflow: hidden;
        }
    }
}

.estate__map {
    width: 50%;
    height: 100%;
    transition: .5s ease-in-out;
    position: relative;

    iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.estate__map-btn {
    position: absolute;
    z-index: 22;
    padding: 9px 24px 9px 16px;
    display: flex;
    height: 40px;
    align-items: center;
    border-radius: 100px;
    background: var(--White, #FBFBFB);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
    left: 70px;
    bottom: 60px;
    transition: .3s;


    &:hover {
        border-radius: 100px;
        background: #F1F1F1;
    }

    img {
        width: 18px;
        height: 18px;
        margin-right: 8px;
    }

    p {
        color: var(--Black, #050505);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0.15px;
        margin: 0;
    }

    .less {
        display: none;
    }

    &.active {
        .less {
            display: block;
        }

        .more {
            display: none;
        }
    }
}

.estate__objects {
    height: 100%;
    width: 50%;
    padding-left: 16px;
    position: relative;
    transition: width .5s ease-in-out;
    padding-bottom: 10px;
}

.estate__objects-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    background-color: #f6f6f6;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 24px;
        height: 24px;
        background-size: cover;
    }
}

.estate__objects-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 17px;

    p {
        color: rgba(60, 60, 60, 0.70);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-right: 4px;
    }

    span {
        color: var(--Black, #050505);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.estate__objects-found {
    display: flex;
    align-items: center;
}

.estate__objects-sort {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 22px;

    span {
        cursor: pointer;
    }

    &:after {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-image: url(../img/svg/lang_arrow.svg);
        background-size: cover;
    }

    ul {
        width: 211px;
        border-radius: 16px;
        background: var(--White, #FBFBFB);
        box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.09);
        position: absolute;
        z-index: 25;
        top: calc(100% + 2px);
        left: 0;
        display: none;
        padding: 8px;

        li {
            padding: 8px 15px 8px 15px;
            width: 100%;
            transition: 0.3s;
            border-radius: 8px;
            color: #050505;
            font-family: Mont;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 171%;
            letter-spacing: 0.15px;
            cursor: pointer;
            transition: .3s;

            &:hover {
                background: rgba(209, 209, 209, 0.3);
            }

            &:before {
                content: "";
                display: inline-block;
                width: 18px;
                height: 18px;
                vertical-align: middle;
                margin-right: 8px;
                background-image: url(../img/svg/done_icon.svg);
                opacity: 0;
                -webkit-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;
            }

            &.active:before {
                opacity: 1;
            }
        }
    }
}

.estate__objects-inner {
    overflow: auto;
    height: calc(100% - 59px);

    &::-webkit-scrollbar {
        width: 4px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-track {
        background: #d1d1d180;
        cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #3C3C3C;
        cursor: pointer;
        border-radius: 20px;
    }

    .pagination {
        margin-bottom: 56px;
    }

    .selection {
        padding: 56px 55px 78px;
        border-radius: 16px;
        margin-bottom: 80px;

        .selection__left {
            h2 {
                margin-bottom: 16px;
                color: var(--White, #FBFBFB);
                text-align: center;
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
            }

            p {
                margin-bottom: 56px;
                color: var(--Light-grey, #D1D1D1);
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0.3px;
            }
        }

        .selection__right {
            form {
                max-width: 500px;
                flex-wrap: nowrap;
                align-items: flex-end;
                justify-content: space-between;
                margin: 0 auto;
            }

            .inputfield {
                margin-bottom: 0;
            }

            .formbtn {
                margin-top: 0px;
                width: 40px;
                height: 40px;
                border-radius: 100px;
                background: #22F100;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                outline: none;
                transition: .3s;
                position: relative;

                &:before {
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-40%, -45%);
                }

                &:hover {
                    background: #25D009;
                }
            }
        }
    }
}

.estate__objects-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 24px;

    .proposition__slide {
        width: 322px;
        margin: 0;
        margin-right: 6px;
        border: 2px solid transparent;

        &:before {
            width: 326px;
        }

        &:hover {
            .proposition__slide-image {
                border: 1px solid #159E34;
                border-bottom: none;
            }

            .proposition__slide-info {
                border: 1px solid #159E34;
                border-top: none;
            }
        }
    }

    .proposition__slide-image {
        width: 322px;
        border: 1px solid #D1D1D1;
        border-bottom: none;
    }

    .proposition__slide-info {
        width: 322px;
    }
}


//  ADAPTIVE ---------------- //

@media (max-width:1439.8px) {
    .estate__objects {
        width: 53%;
    }

    .estate__map {
        width: 47%;
    }
}

@media (max-width:1399.8px) {
    .estate__objects {
        width: 60%;
    }

    .estate__map {
        width: 40%;
    }
}

@media (max-width:1199.8px) {

    .estate__map {
        width: 100%;
    }

    .estate__objects {
        width: 0%;
    }

    .estate__filter {
        flex-wrap: wrap;
        height: auto;
        margin-bottom: 20px;
    }

    .estate__filter-left {
        margin-bottom: 20px;
    }
}

@media (max-width:991.8px) {
    .estate__filter {
        display: none;
    }

    .estate__mobile {
        display: flex;
        align-items: center;
        padding: 7px 0;
    }

    .estate__mobile-filter,
    .estate__mobile-type {


        p {
            color: var(--Mid-black, #212121);
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0.1px;
            position: relative;
            display: flex;
            align-items: center;
            padding: 11px 42px 11px 24px;
            border-radius: 100px;
            border: 1px solid var(--Mid-black, #212121);
            height: 40px;
            margin-right: 8px;

            &:after {
                content: '';
                width: 18px;
                height: 18px;
                background-size: cover;
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 16px;
                background-image: url(../img/svg/lang_arrow.svg);
            }
        }
    }

    .estate__mobile-type {
        .type-dropdown {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 99;
            width: 100%;
            height: 100vh;
            background: #F6F6F6;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            opacity: 0;
            transform: translateY(-100%);
            transition: .4s;

            &.active {
                opacity: 1;
                transform: translateY(0);
            }

            .type-dropdown__head {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 12px 8px 8px;
                position: relative;
                border-bottom: 0.5px solid var(--Light-grey, #D1D1D1);

                .close-btn {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 16px;
                    z-index: 99;
                    width: 24px;
                    height: 24px;
                }

                h4 {
                    color: var(--Black, #050505);
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                }
            }

            .type-dropdown__list {
                height: 100%;
                padding: 28px 20px;

                li {
                    padding: 8px;

                    span {
                        color: var(--Grey, #3C3C3C);
                        text-align: center;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                        letter-spacing: 0.1px;
                    }

                    input {
                        position: absolute;
                        opacity: 0;
                        z-index: -1;
                    }

                    input+span:before {
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: 1px solid #3C3C3C;
                        margin-right: 12px;
                    }

                    input:checked+span:before {
                        background-color: #3C3C3C;
                        border: 3px solid #f6f6f6;
                        box-shadow: 0 0 0 2px #3C3C3C;
                    }
                }
            }

            .type-dropdown__bottom {
                padding: 24px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top: 0.5px solid var(--Light-grey, #D1D1D1);

                .typebtn {
                    height: 40px;
                    max-width: 360px;
                    width: 100%;
                    margin: 0 auto;
                }
            }
        }
    }

    .estate__mobile-filter {
        p>span {
            border-radius: 100px;
            background: var(--Black, #050505);
            width: 20px;
            height: 20px;
            color: var(--White, #FBFBFB);
            text-align: center;
            font-family: Mont;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.1px;
            margin-left: 8px;
        }

        .filter-dropdown {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 99;
            width: 100%;
            height: 100vh;
            background: #F6F6F6;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            opacity: 0;
            transform: translateY(-100%);
            transition: .4s;

            &.active {
                opacity: 1;
                transform: translateY(0);
            }

            .filter-dropdown__head {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 12px 8px 8px;
                position: relative;
                border-bottom: 0.5px solid var(--Light-grey, #D1D1D1);

                .close-btn {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 16px;
                    z-index: 99;
                    width: 24px;
                    height: 24px;
                }

                h4 {
                    color: var(--Black, #050505);
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                }
            }

            .filter-dropdown__list {
                height: 100%;
                padding: 24px 16px 100px;
                overflow: auto;

                .dropdown-row {
                    margin-bottom: 24px;

                    >span {
                        color: var(--Black, #050505);
                        text-align: center;
                        font-family: Mont;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20px;
                        letter-spacing: 0.1px;
                        margin-bottom: 16px;
                        display: inline-block;
                    }

                    .checkfield input:checked+span:before {
                        background-image: url(../img/svg/checked-white.svg);
                    }

                    .checkfield span {
                        color: #050505;
                        text-align: center;
                        font-family: Mont;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                        letter-spacing: 0.1px;
                    }
                }

                .dropdown-box {
                    display: block;
                    position: relative;
                    top: initial;
                    left: initial;
                    background: transparent;
                    box-shadow: none;

                    >span {
                        color: var(--Black, #050505);
                        text-align: center;
                        font-family: Mont;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20px;
                        letter-spacing: 0.1px;
                        margin-bottom: 8px;
                        display: inline-block;
                    }

                    input {
                        border-radius: 100px;
                        border: 1px solid var(--Light-grey, #D1D1D1);
                        height: 40px;
                        width: 100%;
                        color: var(--Black-shade-2, #373737);
                        font-family: Mont;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                        letter-spacing: 0.1px;
                        padding: 10px 16px;
                        background: transparent;
                    }

                    .dropdown-row .extra-controls {
                        margin-bottom: 0;
                        span{

                        }
                    }

                    .dropdown-row .irs--round .irs-from,
                    .dropdown-row .irs--round .irs-to {
                        display: none;
                    }
                }
            }

            .filter-dropdown__bottom {
                padding: 24px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top: 0.5px solid var(--Light-grey, #D1D1D1);
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: #f6f6f6;
                width: 100%;
                z-index: 99;

                .clearbtn {
                    height: 40px;
                    margin-right: 16px;
                    padding: 10px 28px;
                }

                .filtrbtn {
                    height: 40px;
                    padding: 10px 30px;
                }
            }
        }
    }




}