@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

// font-family: 'Inter', sans-serif;

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Bold.eot');
    src: local('Mont Bold'), local('Mont-Bold'),
        url('../fonts/Mont-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mont-Bold.woff2') format('woff2'),
        url('../fonts/Mont-Bold.woff') format('woff'),
        url('../fonts/Mont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-SemiBold.eot');
    src: local('Mont SemiBold'), local('Mont-SemiBold'),
        url('../fonts/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mont-SemiBold.woff2') format('woff2'),
        url('../fonts/Mont-SemiBold.woff') format('woff'),
        url('../fonts/Mont-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Regular.eot');
    src: local('Mont Regular'), local('Mont-Regular'),
        url('../fonts/Mont-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mont-Regular.woff2') format('woff2'),
        url('../fonts/Mont-Regular.woff') format('woff'),
        url('../fonts/Mont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url('../fonts/Mont-Light.eot');
    src: local('Mont Light'), local('Mont-Light'),
        url('../fonts/Mont-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Mont-Light.woff2') format('woff2'),
        url('../fonts/Mont-Light.woff') format('woff'),
        url('../fonts/Mont-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}