.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;

    &.change-bg {
        background-color: #f6f6f6;
    }
    .white-logo{
        display: none;
    }

    &.white {
        transition: .3s;
        background: linear-gradient(180deg, rgba(5, 5, 5, 0.88) 0%, rgba(5, 5, 5, 0.00) 90.34%);

        .black-logo {
            display: none;
        }
        .white-logo{
            display: block;
        }

        .header__menu a {
            color: #fbfbfb;
        }
        .header__menu li.active:after {
            background-color: #fbfbfb;
        }

        .header__lang p {
            color: #fbfbfb;
        }

        .header__lang p:after {
            background-image: url(../img/svg/lang_arrow_white.svg);
        }

        .header__lang p:before {
            background-image: url(../img/svg/lang_icon_white.svg);
        }

        .header__btn {
            border: 1px solid #fbfbfb;
            color: #fbfbfb;
        }

        .burger span {
            background: #fbfbfb;
        }

        &.change-bg {
            background: #f6f6f6;

            .burger span {
                background: #050505;
            }

            .black-logo {
                display: block;
            }

            .white-logo {
                display: none;
            }

            .header__btn {
                color: #050505;
                border: 1px solid #050505;
            }

            .header__menu a,
            .header__lang p {
                color: #050505;
            }

            .header__lang p:after {
                background-image: url(../img/svg/lang_arrow.svg);
            }

            .header__lang p:before {
                background-image: url(../img/svg/lang_icon.svg);
            }

            li.active:after {
                background-color: #050505;
            }
        }
    }
}

.burger {
    display: none;
}

.header__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
}

.header__logo {
    position: relative;
    z-index: 9;

    a {
        display: block;
    }

    img {
        width: 153px;
        background-size: cover;
    }
}

.header__nav {
    width: calc(100% - 153px);
}
.header__nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0 0 0 auto;
}

.header__menu {
    display: flex;
    align-items: center;
    margin-right: 12px;
    margin: 0 0 0 auto;

    li+li {
        margin-left: 12px;
    }

    li {
        position: relative;
        background: rgba(218, 218, 218, 0);
        transition: .3s;

       

        &.active {
            &:after {
                content: '';
                position: absolute;
                bottom: -16px;
                left: 0;
                background-color: #050505;
                width: 100%;
                height: 3px;
                border-radius: 3px;
            }
        }

    }

    a {
        color: var(--Black, #050505);
        font-family: Mont;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0.15px;
        padding: 4px 16px;
        border-radius: 8px;
        height: 32px;
        &:hover {
            background: rgba(218, 218, 218, 0.5);
        }
    }
}

.header__lang {
margin: 0 auto 0 0;
}
.header__lang-mobile,
.header__lang {
    cursor: pointer;
    position: relative;

    p {
        position: relative;
        border-radius: 8px;
        background: rgba(218, 218, 218, 0);
        padding: 4px 8px;
        width: 87px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        text-transform: uppercase;


        &:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 8px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../img/svg/lang_icon.svg);
        }

        &:after {
            content: '';
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
            background-image: url(../img/svg/lang_arrow.svg);
        }
    }

    &>ul {

        a {
            display: block;
            padding: 8px 15px 8px 43px;
            color: #050505;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.15px;
            cursor: pointer;
            text-align: left;
            border-radius: 8px;
            transition: .4s;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: 15px;
                top: 11px;
                width: 18px;
                height: 18px;
                vertical-align: middle;
                margin-right: 10px;
                background-image: url(../img/svg/done_icon.svg);
                opacity: 0;
                transition: .3s ease-in-out;
            }
        }
        li.active {
            a:before {
                opacity: 1;
            }
        }
    }
}

.header__lang {
    &>ul {
        position: absolute;
        width: 196px;
        top: 110%;
        left: -10px;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: .3s ease-in-out;
        border-radius: 16px;
        background: var(--White, #FBFBFB);
        box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.04);
        padding: 8px;

        a:hover {
            background: rgba(209, 209, 209, 0.30);
        }
    }

    p:hover {
        background: rgba(218, 218, 218, 0.50);
    }

    &:hover {
        >ul {
            visibility: visible;
            opacity: 1;
            z-index: 2;
            transform: translateY(0px);
        }
    }
}

.header__lang-mobile {
    display: none;

    >ul {
        display: none;
    }
}

.header__btn {
    // margin-left: 85px;
    padding: 8px 59px;
    color: var(--Black, #050505);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    border: 1px solid #050505;
    border-radius: 30px;
    transition: .3s ease-in-out;

    &:hover {
        background: var(--Light-grey, #E8E8E8);
    }
}

// RESPONSIVE ----------------- //


@media(max-width:1399.8px) {
    .header__btn {
        margin-left: 30px;
        padding: 8px 40px;
    }

    .header__menu li+li {
        margin-left: 5px;
    }

    .header__menu li {
        border-radius: 8px;
        background: rgba(218, 218, 218, 0);
        -webkit-transition: 0.3s;
        transition: 0.3s;
        a{
            height: 32px;
            padding: 4px 12px;
        }
    }
}

@media(max-width:1199.8px) {
    .burger {
        display: inline-block;
        border: none;
        background-color: transparent;
        outline: none;
        padding: 0;
        width: 24px;
        height: 24px;
        overflow: hidden;
        z-index: 22;

        span {
            display: block;
            height: 2px;
            background: #050505;
            margin: 4px 0;
            border-radius: 5px;
            transition: 0.5s;
            transform-origin: 0 0;
        }

        &.open {
            span {
                background: #050505;

                &:nth-child(1) {
                    transform: translateX(4px) translateY(-2px) rotate(45deg);
                }

                &:nth-child(2) {
                    transform: translateX(100%);
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateX(2px) translateY(3px) rotate(-45deg);
                }
            }
        }
    }

    .header.white .burger.open span {
        background: #050505;
    }

    .header__nav {
        background-color: #f6f6f6;
        position: fixed;
        width: 35%;
        transform: translateX(100%);
        transition: .5s ease-in-out;
        opacity: 0;
        top: 0;
        right: 0;
        height: 100vh;
        padding: 88px 0 80px;
        overflow: auto;

        &.open {
            transform: translateX(0%);
            opacity: 1;
        }
    }

    .header__nav-wrapper {
        flex-wrap: wrap;
        min-height: fit-content;
    }

    .header__lang {
        display: none;
    }

    .header__lang-mobile {
        display: block;
        width: 100%;
        padding: 32px 16px 0px;
        border-bottom: 1px solid rgba(209, 209, 209, 0.50);
        margin: 0 16px 48px;

        >ul {
            padding-bottom: 16px;
        }

        p {
            margin-bottom: 16px;
        }

        li {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .header__btn {
        margin: 0 16px;
        width: 100%;
    }

    .header.white .header__menu,
    .header__menu {
        flex-wrap: wrap;
        width: 100%;
        padding: 10px 16px 0;
        margin: 0;

        li {
            width: 100%;
            padding: 32px 16px 16px;
            border-bottom: 1px solid rgba(209, 209, 209, 0.50);
            height: auto;
            border-radius: 0;

            &+li {
                margin: 0;
            }

            a {
                color: #050505;
            }

            &.active:after {
                display: none;
            }
        }
    }

    .header.white .header__btn {
        color: #050505;
        border: 1px solid #050505;
    }
}

@media(max-width:991.8px) {
    .header__logo img {
        width: 130px;
    }

    .header__nav {
        width: 45%;
    }
}

@media(max-width:767.8px) {
    .header {
        border-bottom: 0.5px solid var(--Light-grey, #D1D1D1);

        &.white {
            border-bottom: none;

            .header__nav.open {
                border-top: 0.5px solid var(--Light-grey, #D1D1D1);
                top: 88px;
            }
        }
    }

    .header.white-bg {
        background-color: #f6f6f6;
    }

    .header__menu {

        li:first-child {
            border-top: none;
        }
    }

    .header__logo img {
        width: 110px;
    }

    .header__nav {
        width: 100%;
        top: 89px;
        padding: 0 0 100px;
    }
}

@media(max-width:575.8px) {
    .header.white .header__nav.open {
        top: 48px;
    }

    .header__nav {
        top: 49px;
    }

    .header__inner {
        height: 48px;
    }

    .header__logo img {
        width: 92px;
    }
}