//  heroscreen section--------------------------------

.heroscreen {
    position: relative;
    min-height: 650px;
}

.heroscreen__inner {
    padding-top: 20%;
    position: relative;
}

.heroscreen__title {
    color: #000;
    margin-bottom: 48px;
}

.heroscreen__bg {
    position: absolute;
    width: 860px;
    top: 8%;
    right: 0;
}

.heroscreen__video {
    position: absolute;
    width: 1000px;
    top: 8%;
    right: 0;
}

.heroscreen__search {
    >p {
        color: var(--Black-shade-4, #696969);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.15px;
        margin-bottom: 16px;
    }
}

.heroscreen__filter {
    display: inline-flex;
    align-items: center;
    padding: 24px 48px;
    border-radius: 16px;
    border: 1px solid var(--Mid-black, #212121);
    background: var(--Black, #050505);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.09);

    .filter-btn {
        height: 40px;
        width: 136px;
        margin-left: 32px;
    }
}

.heroscreen__filter-item {
    margin-right: 48px;
    display: flex;
    align-items: center;

    .icon {
        margin-right: 8px;
        border-radius: 50%;
        background: var(--Black-shade-1, #1E1E1E);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
    }

    input {
        border-radius: 100px;
        border: 1px solid var(--Mid-black, #212121);
        background: var(--White, #FBFBFB);
        height: 40px;
        width: 138px;
        color: var(--Mid-black, #212121);
        font-family: Mont;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.1px;
        padding: 7px 20px 7px 24px;

        &::placeholder {
            transition: .3s;
            color: var(--Mid-black, #212121);
            font-family: Mont;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
        }

        &:focus::placeholder {
            opacity: 0;
        }
    }

    .inputfield {
        position: relative;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 13px;
            width: 18px;
            height: 18px;
            background-image: url(../img/svg/lang_arrow.svg);
            background-size: cover;
        }

        &.active {
            &:after {
                transform: rotate(180deg) translateY(50%);
            }

        }

        .dropdown-box {
            border-radius: 16px;
            background: var(--White, #FBFBFB);
            box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.09);
            position: absolute;
            z-index: 25;
            top: calc(100% + 2px);
            left: 0;
            display: none;

            ul {

                li {
                    padding: 8px 15px 8px 15px;
                    width: 100%;
                    display: inline-block;
                    transition: .3s;
                    border-radius: 8px;

                    &:before {
                        content: '';
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        vertical-align: middle;
                        margin-right: 8px;
                        background-image: url(../img/svg/done_icon.svg);
                        opacity: 0;
                        transition: .3s ease-in-out;
                    }

                    &.active {
                        &:before {
                            opacity: 1;
                        }
                    }

                    &:hover {
                        background: rgba(209, 209, 209, 0.30);
                    }
                }
            }

            .dropdown-row {
                &+.dropdown-row {
                    margin-top: 10px;
                }

                button {
                    width: 100%;
                }

                .extra-controls {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 16px;


                    input {
                        width: 45%;
                    }
                }

                .irs--round .irs-handle {
                    top: 31px;
                    width: 12px;
                    height: 12px;
                    border: none;
                    background-color: #050505;
                    border-radius: 24px;
                    box-shadow: none;
                }

                .irs--round .irs-bar {
                    top: 36px;
                    height: 2px;
                    background-color: #050505;
                }

                .irs--round .irs-line {
                    top: 36px;
                    height: 2px;
                    background-color: #d1d1d1;
                }

                .irs--round .irs-from,
                .irs--round .irs-to,
                .irs--round .irs-single {
                    font-size: 0px;
                    line-height: 0;
                    background-color: transparent;
                    color: white;
                    border-radius: 4px;
                    width: 32px;
                    height: 28px;
                    cursor: pointer;
                }

                .irs--round .irs-from {
                    background-image: url(../img/svg/range-prev.svg);
                }

                .irs--round .irs-to {
                    background-image: url(../img/svg/range-next.svg);
                }

                .irs--round .irs-from:before,
                .irs--round .irs-to:before,
                .irs--round .irs-single:before,
                .irs--round .irs-min,
                .irs--round .irs-max {
                    display: none;
                }

            }
        }
    }

    &:nth-child(1) {
        .dropdown-box {
            width: 150px;
            padding: 8px;
        }
    }

    &:nth-child(2) {
        .dropdown-box {
            width: 288px;
            padding: 24px 16px;
        }
    }

    &:nth-child(3) {
        .dropdown-box {
            padding: 24px 16px;
            width: 288px;
        }
    }
}


//  proposition section--------------------------------

.proposition {
    padding: 120px 0;

    .wiew-all-mobile {
        display: none;
    }
}

.proposition__head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 48px;

    .wiew-all {
        color: var(--Black, #050505);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.15px;

        img {
            margin-left: 8px;
            width: 24px;
            height: 24px;
            background-size: cover;
        }
    }
}

.proposition__slider {
    overflow: hidden;

    >.swiper-wrapper>.swiper-slide {
        max-width: 322px;
        width: 100%;
    }
}

.proposition__slide {
    max-width: 322px;
    width: 100%;
    border-radius: 16px;
    transition: .3s ease-in-out;
    border: 3px solid transparent;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        border: 3px solid #159E34;
        opacity: 0;
        transition: .3s;
        border-radius: 17px;
    }

    &:hover {
        &:before {
            opacity: 1;
        }
    }
}

.proposition__slide-image {
    transition: .3s ease-in-out;
    height: 136px;
    border-radius: 16px 16px 0 0;
    border-bottom: none;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .top-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 16px);
        padding: 8px 0;

        span {
            border-radius: 50px;
            background: #159E34;
            color: #FBFBFB;
            font-family: Mont;
            font-size: 10px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding: 6px 12px;
        }
    }
}

.proposition__slide-info {
    transition: .3s ease-in-out;
    background: var(--White, #FBFBFB);
    padding: 0 16px 24px;
    height: 308px;
    position: relative;
    border: 1px solid var(--Light-grey, #D1D1D1);
    border-top: none;
    border-radius: 0 0 16px 16px;
    display: flex;
    flex-direction: column;
}

.proposition__slide-head {
    padding: 8px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 8px;

    p {
        color: rgba(60, 60, 60, 0.70);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.proposition__slide-row {
    height: 85px;

    h4 {
        color: var(--Black, #050505);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 2px;
    }

    p {
        overflow: hidden;
        color: var(--Grey, #3C3C3C);
        text-overflow: ellipsis;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    span {
        color: rgba(60, 60, 60, 0.70);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: inline-block;

        &+span {
            margin-left: 8px;

            &:before {
                content: '';
                display: inline-block;
                margin-right: 8px;
                background-color: rgba(60, 60, 60, 0.70);
                border-radius: 50%;
                width: 2px;
                height: 2px;
                vertical-align: middle;
            }
        }
    }
}

.proposition__slide-detailed {
    li {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }

    span {
        color: var(--Grey, #3C3C3C);
        font-family: Mont;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }

    img {
        margin-right: 8px;
        width: 12px;
        height: 12px;
        background-size: cover;
    }
}

.proposition__slide-btn {
    margin: auto auto 0px;
    width: 100%;

    img {
        margin-right: 8px;
        width: 18px;
        height: 18px;
        background-size: cover;
    }
}


.proposition__slider-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 24px;

    .swiper-button-next,
    .swiper-button-prev {
        border-radius: 100px;
        border: 1px solid rgba(5, 5, 5, 0.30);
        width: 64px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        position: relative;
        top: initial;
        left: initial;
        right: initial;
        bottom: initial;
        margin: 0 28px;
        transition: .3s;

        svg path {
            transition: .3s;
        }

        &:hover {
            border: 1px solid rgba(5, 5, 5, 1);
            background: var(--Black, #050505);

            svg path {
                fill: #fff;
                fill-opacity: 1;
            }
        }

        &:after {
            display: none;
        }
    }
}

// advantages section -------------- //

.advantages {
    padding-bottom: 40px;
}

.advantages__title {
    margin-bottom: 48px;
}

.advantages__item {
    width: 100%;
    padding: 24px;
    border-radius: 16px;
    transition: .3s;
    min-height: 328px;
    margin-bottom: 56px;

    h5 {
        color: var(--Black, #050505);
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 16px;
        transition: .3s;

        &.accordeon-head {
            pointer-events: none;
        }
    }

    p {
        color: rgba(5, 5, 5, 0.70);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 170%;
        letter-spacing: 0.5px;
        transition: .3s;
    }

    &:hover {
        background: var(--Black, #050505);

        .advantages__icon svg path {
            fill: #22F100;
        }

        p,
        h5 {
            color: #FBFBFB;
        }
    }


}

.advantages__icon {
    width: 48px;
    height: 48px;
    background: rgba(21, 158, 52, 0.20);
    border-radius: 50%;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg path {
        transition: .3s;
    }
}

//  section count ----------------- //

.count {
    padding-bottom: 120px;
}

.count__title {
    margin-bottom: 48px;
}

.count__inner {
    position: relative;

    img {
        width: 100%;
        background-size: cover;
    }
}

.count__inner-content {
    position: absolute;
    bottom: 114px;
    right: 54px;

    >h3 {
        color: var(--Black, #050505);
        font-size: 72px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        margin-bottom: 16px;
    }

    >span {
        color: rgba(60, 60, 60, 0.70);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0.1px;
    }
}

.count__inner-row {
    display: flex;
    margin-top: 48px;

    li {
        &+li {
            margin-left: 48px;
        }

        p {
            color: var(--Black, #050505);
            font-size: 45px;
            font-style: normal;
            font-weight: 600;
            line-height: 115%;
        }

        span {
            color: rgba(60, 60, 60, 0.70);
            text-align: center;
            font-family: Mont;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.1px;
        }
    }
}


//  selection section ------------------------- //
.selection {
    padding: 75px 0;
    background-color: #050505;
    position: relative;

    &:after {
        content: '';
        background-image: url(../img/svg/frame_form.svg);
        width: 100%;
        height: 100%;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.selection__left {
    position: relative;
    z-index: 2;

    h2 {
        color: var(--White, #FBFBFB);
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 145%;
        margin-bottom: 16px;
    }

    p {
        color: var(--Light-grey, #D1D1D1);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.3px;
    }
}

.selection__right {
    position: relative;
    z-index: 2;
    .info-text{
        color: var(--White, #FBFBFB);
        text-align: center;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; 
        letter-spacing: 0.01px;
    }

    form {
        max-width: 438px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .inputfield {
        width: 206px;
        margin-bottom: 32px;
        position: relative;
        &.has-dropdown{
            cursor: pointer;
        }

        .dropdown-box {
            border-radius: 16px;
            background: var(--White, #FBFBFB);
            box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.09);
            position: absolute;
            z-index: 25;
            top: calc(100% + 2px);
            left: 0;
            display: none;

            ul {
                padding: 8px;

                li {
                    width: 100%;
                    display: inline-block;
                    border-radius: 8px;
                    padding: 8px 15px 8px 15px;
                    width: 100%;
                    transition: 0.3s;
                    border-radius: 8px;

                    &:before {
                        content: '';
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        vertical-align: middle;
                        margin-right: 8px;
                        background-image: url(../img/svg/done_icon.svg);
                        opacity: 0;
                        transition: .3s ease-in-out;
                    }

                    &.active {
                        &:before {
                            opacity: 1;
                        }
                    }

                    &:hover {
                        background: rgba(209, 209, 209, 0.30);
                    }
                }
            }
        }

        &.price,
        &.area,
        &.operation {
            &:after {
                content: '';
                position: absolute;
                width: 18px;
                height: 18px;
                right: 16px;
                top: 65%;
                transform: translateY(-50%);
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &.price {
            &:after {
                background-image: url(../img/svg/dollar-icon.svg);
            }
        }

        &.area {
            &:after {
                background-image: url(../img/svg/area_metres.svg);
            }
        }

        &.operation {
            &:after {
                background-image: url(../img/svg/lang_arrow_white.svg);
                top: 70%;
            }
        }

        p {
            color: var(--White, #FBFBFB);
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.1px;
            margin-bottom: 4px;
        }

        input[type=text] {
            width: 100%;
            height: 40px;
            border-radius: 100px;
            border: 1px solid rgba(209, 209, 209, 0.80);
            color: rgba(209, 209, 209, 0.80);
            font-family: Mont;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.1px;
            padding: 9px 16px;
            background: transparent;

            &::placeholder {
                color: rgba(209, 209, 209, 0.80);
                transition: .3s;
            }

            &:focus::placeholder {
                opacity: 0;
            }
        }

        &.phone-field {
            position: relative;
            cursor: pointer;

            .flag {
                position: absolute;
                width: 16px;
                height: 11px;
                background-size: cover;
                top: 38px;
                left: 16px;
            }

            &:after {
                content: '';
                position: absolute;
                background-image: url(../img/svg/arrow-field-phone.svg);
                width: 18px;
                height: 18px;
                left: 36px;
                top: 35px;
            }

            input {
                padding-left: 62px;
            }

            ul {
                border-radius: 16px;
                background: var(--White, #FBFBFB);
                box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.04);
                padding: 8px;
                width: 290px;
                position: absolute;
                z-index: 9;
                top: calc(100% + 10px);
                display: none;

                li {
                    padding: 8px 16px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    transition: .3s;
                    border-radius: 8px;

                    &:hover {
                        background: rgba(209, 209, 209, 0.30);
                    }

                    p {
                        margin: 0 auto 0 0;
                        color: #050505;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                        letter-spacing: 0.1px;
                    }

                    img {
                        width: 16px;
                        height: 11px;
                        margin-left: 4px;
                        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.15));
                    }
                }
            }
        }
    }

    .form-slide {
        width: 100%;

        >span {
            display: block;
            margin-bottom: 16px;
            color: var(--White, #FBFBFB);
            font-family: Mont;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.1px;
        }

        .extra-controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;

            span {
                font-size: 16px;
                color: #D1D1D1;
            }


            input {
                width: 206px;
                border-radius: 100px;
                border: 1px solid rgba(209, 209, 209, 0.80);
                padding: 8px 16px;
                height: 40px;
                background-color: transparent;
                color: rgba(209, 209, 209, 0.80);
                font-family: Mont;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0.1px;
            }
        }

        .irs--round .irs-handle {
            top: 31px;
            width: 12px;
            height: 12px;
            border: none;
            background-color: #FBFBFB;
            border-radius: 24px;
            box-shadow: none;
        }

        .irs--round .irs-bar {
            top: 36px;
            height: 2px;
            background-color: #FBFBFB;
        }

        .irs--round .irs-line {
            top: 36px;
            height: 2px;
            background-color: #d1d1d1;
        }

        .irs--round .irs-from,
        .irs--round .irs-to,
        .irs--round .irs-single {
            font-size: 0px;
            line-height: 0;
            background-color: transparent;
            color: white;
            border-radius: 4px;
            width: 32px;
            height: 28px;
            cursor: pointer;
            background-repeat: no-repeat;
        }

        .irs--round .irs-from {
            background-image: url(../img/svg/range-prev-white.svg);
        }

        .irs--round .irs-to {
            background-image: url(../img/svg/range-next-white.svg);
        }

        .irs--round .irs-from:before,
        .irs--round .irs-to:before,
        .irs--round .irs-single:before,
        .irs--round .irs-min,
        .irs--round .irs-max {
            display: none;
        }
    }

    .formbtn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;

        &:before {
            content: '';
            background-image: url(../img/svg/form_btn_icon.svg);
            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
        }
    }
}



.checkfield {
    width: 206px;
    display: flex;
    cursor: pointer;

    span {
        color: var(--White, #FBFBFB);
        text-align: center;
        font-family: Mont;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.1px;

        &:before {
            content: '';
            display: inline-block;
            width: 18px;
            height: 18px;
            border: 1px solid #D9D9D9;
            border-radius: 4px;
            margin-right: 11px;
            vertical-align: middle;
            background-position: center;
        }
    }

    input {
        opacity: 0;
        position: absolute;
    }

    input:checked+span:before {
        background-image: url(../img/svg/checked.svg);
    }
}



// textimonials section ------------------------------ //
.textimonials {
    padding: 120px 0 160px;
}

.textimonials__title {
    margin-bottom: 52px;
}

.textimonials__slider {
    margin-bottom: 48px;
}

.textimonials__slide {
    max-width: 553px;
    width: 100%;
}

.textimonials__slide-descr {
    margin-bottom: 32px;

    p {
        color: var(--Black, #050505);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
}

.textimonials__slide-row {
    display: flex;
    justify-content: space-between;

    .author {
        display: flex;
        align-items: center;

        img {
            border-radius: 50%;
            width: 56px;
            height: 56px;
            margin-right: 16px;
        }

        .author-info {
            p {
                color: var(--Black, #050505);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0.15px;
                margin-bottom: 4px;
            }

            span {
                color: rgba(5, 5, 5, 0.60);
                font-family: Mont;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: 0.5px;
            }
        }
    }

    .company {
        img {
            height: 40px;
            background-size: cover;
        }
    }
}

.textimonials__slider-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 24px;

    .textimonials__slider-next,
    .textimonials__slider-prev {
        border-radius: 100px;
        border: 1px solid rgba(5, 5, 5, 0.30);
        width: 64px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        position: relative;
        top: initial;
        left: initial;
        right: initial;
        bottom: initial;
        margin: 0 28px;
        transition: .3s;

        &.swiper-button-disabled {
            opacity: 0.35;
            pointer-events: none;
        }

        svg path {
            transition: .3s;
        }

        &:hover {
            border: 1px solid rgba(5, 5, 5, 1);
            background: var(--Black, #050505);

            svg path {
                fill: #fff;
                fill-opacity: 1;
            }
        }

        &:after {
            display: none;
        }
    }
}

// partners section ------------------------------------ //

.partners {
    padding-bottom: 100px;
    text-align: center;
}

.partners__title {
    color: var(--Black, #050505);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    margin-bottom: 80px;
}

.partners__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1050px;
    margin: 0 auto;
    column-gap: 48px;
}

.partners__item {
    position: relative;
    height: 40px;
    margin-bottom: 56px;

    &:last-child {
        margin-right: 0;
    }

    img {
        height: 100%;
        transition: .2s;
    }

    .hover {
        position: absolute;
        height: 100%;
        background-size: cover;
        top: 0;
        left: 0;
        opacity: 0;
    }

    &:hover {
        .hover {
            opacity: 1;
        }

        .static {
            opacity: 0;
        }
    }
}

// widget section ------------- //
.widget {
    margin-bottom: 48px;
}

.widget__inner {
    position: relative;

    img {
        width: 100%;
        background-size: cover;
    }
}

.widget__inner-content {
    position: absolute;
    max-width: 60%;
    left: 115px;
    bottom: 93px;

    h2 {
        color: var(--White, #FBFBFB);
        font-family: Mont;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }

    p {
        color: rgba(255, 255, 255, 0.70);
        font-family: Mont;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.3px;
        margin-bottom: 25px;
    }
}

.widget__btn {
    width: 273px;
    height: 40px;

    img {
        margin-right: 8px;
        width: 20px;
        background-size: cover;
    }
}




//  RESPONSIVE ---------------------- //

@media(max-width: 1399.8px) {
    .heroscreen__title {
        margin-bottom: 110px;
    }

    .heroscreen__bg {
        width: 750px;
    }

    .heroscreen__video {
        width: 800px;
        top: 70px;
    }

    .proposition {
        padding: 90px 0;
    }

    .advantages__item {
        padding: 15px;
        margin-bottom: 45px;
    }

    .advantages__item h5 {
        font-size: 24px;
        line-height: 133%;
    }

    .count {
        padding-bottom: 90px;
    }

    .count__inner-row li p {
        font-size: 36px;
    }

    .count__inner-row {
        margin-top: 30px;
    }

    .count__inner-row li+li {
        margin-left: 28px;
    }

    .count__inner-content>h3 {
        font-size: 45px;
        margin-bottom: 10px;
    }

    .count__inner-content {
        padding-right: 20px;
        bottom: 80px;
        right: 0px;
    }

    .textimonials {
        padding: 120px 0 120px;
    }

    .partners {
        padding-bottom: 90px;
    }

    .widget__inner-content {
        max-width: 60%;
        left: 90px;
        bottom: 40px;
    }
}

@media(max-width: 1199.8px) {
    .heroscreen__video {
        width: 650px;
        top: 80px;
    }

    .heroscreen__bg {
        top: 70px;
        width: 650px;
    }

    .heroscreen {
        min-height: auto;
    }

    .heroscreen__filter {
        justify-content: space-between;
    }

    .heroscreen__filter-item {
        margin-right: 0;
    }

    .heroscreen__search {
        width: 100%;

        form {
            width: 100%;
        }

        .heroscreen__filter {
            width: 100%;
        }
    }

    .advantages__item {
        margin-bottom: 10px;
    }

    .count__inner-content>h3 {
        font-size: 40px;
    }

    .count__inner-content {
        bottom: 60px;
        padding-right: 0;
    }

    .count__inner-content>span {
        font-size: 18px;
    }

    .count__inner-row {
        margin-top: 20px;
    }


    .count__inner-row {
        li {
            width: 100px;

            +li {
                margin-left: 20px;
            }
        }
    }

    .selection:after {
        height: 80%;
    }

    .selection__left h2 {
        font-size: 26px;
    }

    .partners {
        padding-bottom: 50px;
    }

    .widget__inner-content h2 {
        font-size: 28px;
    }
}

@media(max-width: 991.8px) {

    .selection__right .form-slide .extra-controls input {
        width: 47%;
    }

    .heroscreen__filter .filter-btn {
        width: 280px;
        margin: 0;
    }

    .heroscreen__video {
        width: 550px;
    }

    .proposition {
        padding: 70px 0;
    }

    .heroscreen__filter {
        flex-wrap: wrap;
    }

    .heroscreen__filter-item {
        width: 47%;
        margin-bottom: 10px;

        .inputfield {
            width: calc(100% - 56px);
        }
    }

    .heroscreen__filter-item input {
        width: 100%;
    }

    .heroscreen__filter button {
        width: 48%;
        margin-left: 0;
    }

    .heroscreen__bg {
        top: 70px;
        width: 50%;
    }

    .advantages__item h5 {
        font-size: 20px;
    }

    .count__inner {
        height: 770px;
        overflow: hidden;
        border-radius: 30px;

        img {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .count__inner-content {
        bottom: initial;
        top: 0;
        width: 100%;
        right: 50%;
        transform: translateX(50%);
        padding: 50px 16px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .count__inner-row {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;

        li {
            text-align: center;
            width: 100%;

            +li {
                margin: 30px 0 0;
            }
        }
    }

    .selection__right button {
        margin-top: 45px;
    }

    .selection__right .inputfield {
        width: 47%;
    }

    .selection:after {
        height: 75%;
    }

    .selection__left {
        max-width: 500px;
        margin: 0 auto 30px;
    }

    .selection__right form {
        max-width: 500px;
        margin: 0 auto;
    }

    .textimonials__title {
        margin-bottom: 35px;
    }

    .textimonials__slide-descr p {
        font-size: 16px;
        line-height: 130%;
    }

    .textimonials {
        padding: 90px 0 90px;
    }

    .partners__item {
        height: 30px;
        margin-bottom: 45px;
    }

    .partners__title {
        font-size: 28px;
        line-height: 130%;
        margin-bottom: 50px;
    }

    .widget__inner-content {
        max-width: 60%;
        left: 40px;
        bottom: 15px;

        h2 {
            font-size: 24px;
        }

        p {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 10px;
        }
    }

    .widget__btn {
        width: 245px;
        height: 35px;
    }
}

@media(max-width: 767.8px) {
    .selection__right .inputfield.phone-field ul {
        width: 100%;
    }

    .selection__right .inputfield {
        margin-bottom: 30px;
        width: 100%;
    }

    .heroscreen__filter-item:first-child .dropdown-box {
        width: 100%;
    }

    .heroscreen__filter-item:nth-child(2) .dropdown-box,
    .heroscreen__filter-item:nth-child(3) .dropdown-box {
        width: 100%;
    }

    .heroscreen__filter .filter-btn {
        width: 100%;
    }

    .advantages__item h5.accordeon-head {
        pointer-events: initial;
    }

    .heroscreen__video {
        display: none;
    }

    .heroscreen__title {
        margin-bottom: 45px;
    }

    .heroscreen__bg {
        display: none;
    }

    .heroscreen {
        background-image: url(../img/mobile__heroscreen.png);
    }

    .heroscreen__filter button {
        width: 100%;
        margin-top: 8px;
    }

    .heroscreen__filter-item {
        width: 100%;
        margin-bottom: 24px;
    }

    .proposition__head .wiew-all {
        display: none;
    }

    .proposition__slider-arrows {
        display: none;
    }

    .proposition {
        .wiew-all-mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 14px;
            padding: 10px 0;

            img {
                margin-right: 8px;
            }

            a {
                color: var(--Black, #050505);
                text-align: center;
                font-family: Mont;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 170%;
                letter-spacing: 0.15px;
            }
        }
    }

    .advantages__item {
        transition: none;
        padding: 0 0 45px;
        min-height: auto;

        .descr {
            display: none;
        }

        &:hover {
            background: transparent;

            .advantages__icon svg path {
                fill: #159E34;
            }

            p,
            h5 {
                color: #050505;
            }
        }

        h5 {
            position: relative;
            padding-right: 20%;
            cursor: pointer;
            transition: none;

            i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                border: 1px solid var(--Black-shade-9, #E6E6E6);

                &:before,
                &:after {
                    content: '';
                    width: 14px;
                    height: 1px;
                    background-color: #050505;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: .4s;
                }
            }

            &.active {
                i:before {
                    transform: rotate(-90deg) translate(0%, 0%);
                    left: 32%;
                }
            }
        }
    }

    .advantages__title {
        margin-bottom: 34px;
    }


    .count__inner-content>span {
        font-size: 16px;
        line-height: 142%;
    }

    .count__inner-row li+li {
        margin: 15px 0 0;
    }

    .count__inner-row li p {
        font-size: 32px;
        line-height: 162%;
    }

    .count__inner {
        height: 660px;
        border-radius: 25px;
    }

    .selection {
        padding: 64px 0 48px;
    }

    .selection__right button {
        margin-top: 18px;
    }

    .checkfield {
        margin-bottom: 16px;
    }

    .selection:after {
        height: 40%;
    }

    .selection__left h2 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .selection__left p {
        font-size: 12px;
        line-height: 16px;
    }

    .textimonials__title {
        margin-bottom: 24px;
    }

    .textimonials__slider-arrows .textimonials__slider-next,
    .textimonials__slider-arrows .textimonials__slider-prev {
        width: 48px;
        height: 32px;
        margin: 0 16px;
    }

    .textimonials__slide {
        width: 97%;
    }

    .partners__title {
        font-size: 24px;
    }

    .partners__item {
        margin-bottom: 32px;
    }

    .partners {
        padding-bottom: 60px;
        text-align: center;
    }

    .widget__inner-content {
        max-width: 80%;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        bottom: initial;
        top: 110px;

        h2 {
            margin-bottom: 20px;
            font-size: 28px;
        }

        p {
            margin-bottom: 30px;
        }
    }

    .widget__btn {
        width: 100%;
        height: 40px;
    }
}

@media(max-width: 575.8px) {
    .heroscreen__title {
        margin-bottom: 24px;
    }

    .heroscreen__inner {
        padding-top: 77px;
    }

    .heroscreen__filter {
        padding: 24px 16px;
    }

    .proposition__head {
        margin-bottom: 24px;
    }


    .proposition {
        padding: 43px 0 56px;
    }

    .advantages__title {
        margin-bottom: 24px;
    }

    .advantages__icon {
        width: 40px;
        height: 40px;
    }

    .advantages__item {
        padding: 0 0 32px;
        margin-bottom: 0px;
    }

    .advantages__item h5 {
        font-size: 18px;
    }

    .count__title {
        margin-bottom: 24px;
    }

    .count {
        padding-bottom: 56px;
    }

    .count__inner-row {
        margin-top: 8px;
    }

    .count__inner-content>h3 {
        margin-bottom: 0;
        line-height: 130%;
    }

    .count__inner-content {
        padding: 24px 16px 0;
    }

    .count__inner img {
        position: relative;
        bottom: 0;
        left: 0;
    }

    .count__inner {
        height: auto;
    }

    .count__inner-row li+li {
        margin: 8px 0 0;
    }

    .textimonials__slide-row .author .author-info p {
        font-size: 14px;
        margin-bottom: 0;
        line-height: 145%;
    }

    .textimonials__slide-row .author .author-info span {
        font-size: 11px;
        line-height: 145%;
    }

    .textimonials__slide-row .author img {
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }

    .textimonials__slide-row {
        align-items: center;
    }

    .textimonials__slide-row .company img {
        height: 24px;
    }

    .textimonials__slide-descr p {
        font-size: 14px;
    }

    .textimonials {
        padding: 56px 0 56px;
    }

    .partners__title {
        margin-bottom: 32px;
    }

    .partners__item {
        height: 24px;
    }

    .widget__inner-content {
        top: 40px;

        p {
            font-size: 12px;
            line-height: 16px;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 8px;
        }
    }

    .partners {
        padding-bottom: 24px;
        text-align: center;
    }
}

@media(max-width: 350px) {
    .count__inner-content>h3 {
        font-size: 35px;
    }

    .count__inner-row li p {
        font-size: 30px;
        line-height: 120%;
    }

    .widget__inner-content {
        top: 30px;

        p {
            margin-bottom: 15px;
        }

    }

}