// section
.own-heroscreen {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    min-height: 600px;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0.5;
        background: #050505;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: -20%;
        background: radial-gradient(43.06% 30.55% at 49.7% 45.82%, #050505 0%, rgba(5, 5, 5, 0.00) 100%);
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}

.own-heroscreen__inner {
    position: relative;
    z-index: 2;
}

.own-heroscreen__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.own-heroscreen__title {
    color: #FBFBFB;
    margin-bottom: 29px;
    max-width: 790px;
}

.own-heroscreen__descr {
    max-width: 360px;

    p {
        color: #D1D1D1;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0.3px;
        margin-bottom: 29px;
    }
}

.own-heroscreen__btn {
    display: inline-flex;
    width: 206px;

    img {
        width: 18px;
        height: 18px;
        margin-right: 8px;
    }
}


//  numbers section
.numbers {
    padding: 160px 0 40px;
}

.numbers__item {
    margin-bottom: 95px;
}

.numbers__item-count p {
    color: var(--Black, #050505);
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.numbers__item-descr {
    color: rgba(60, 60, 60, 0.70);
    font-family: Mont;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}


// steps section -------------------------- //

.steps {
    padding-bottom: 194px;

    .steps__title {
        color: var(--Black, #050505);
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 120px;
    }


}

.steps__inner {
    .linesect {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 3px;
            height: 100%;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            background-color: #050505;
            z-index: 1;
        }
    }
}

.steps__inner-row {
    position: relative;

    .col-lg-5 {
        margin-bottom: 180px;
    }

    &:nth-child(1) {
        .col-lg-5 {
            margin-bottom: 80px;
        }
    }

    .step-number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background-color: #050505;
        border-radius: 50%;
        position: absolute;
        font-size: 18px;
        line-height: 130%;
        color: #FBFBFB;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 5;
    }

    &:last-child {
        padding-top: 128px;
    }
}

.steps__inner-img {
    text-align: center;

    img {
        max-width: 100%;
    }
}

.steps__inner-content {
    h4 {
        color: var(--Black, #050505);
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    >ul {
        margin-top: 40px;

        >li {
            padding: 32px 0;
            border-bottom: 1px solid #D1D1D1;
            display: flex;
            flex-wrap: wrap;

            .row-info {
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 32px;

                span {
                    padding: 4px 16px;
                    border-radius: 100px;
                    border: 1px solid var(--Black, #050505);
                    color: var(--Black, #050505);
                    font-family: Mont;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    letter-spacing: 0.15px;

                    &+span {
                        margin-left: 8px;
                    }
                }
            }

            .descr {
                width: calc(100% - 48px);
            }

            &:first-child {
                border-top: 1px solid #D1D1D1;
            }

            ul {
                padding-left: 20px;

                li {
                    list-style: disc;

                    &::marker {
                        font-size: 12px;
                    }
                }
            }

            p {
                &+p {
                    margin-top: 16px;
                }
            }
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 16px;
        }
    }

    p {
        color: var(--Black, #050505);
        font-family: Mont;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.3px;
    }

    >p {
        padding-top: 8px;
        color: var(--Black-shade-5, #828282);
        font-family: Mont;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.1px;
    }
}

.steps__inner-btn {
    margin-top: 72px;
    width: 246px;
}




// objects section ------------- //

.objects {
    padding: 0 0 120px;
}

.objects__title {
    margin-bottom: 48px;
}

.objects__slider {
    .swiper-slide {
        max-width: 322px;
    }
}

.objects__slide {
    width: 100%;
    border-radius: 16px;
    transition: .3s ease-in-out;
    border: 3px solid transparent;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        border: 3px solid #159E34;
        opacity: 0;
        transition: .3s;
        border-radius: 17px;
    }

    &:hover {
        &:before {
            opacity: 1;
        }
    }
}

.objects__slide-image {
    transition: .3s ease-in-out;
    height: 197px;
    border-radius: 16px 16px 0 0;
    border-bottom: none;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px 16px 0 0;
        overflow: hidden;
    }
}

.gallery-slider {
    width: 100%;
    height: 100%;

    .slider-prev {
        background-image: url(../img/svg/slider-arrow-prev.svg);
        left: 0;
    }

    .slider-next {
        background-image: url(../img/svg/slider-arrow-next.svg);
        right: 0;
    }

    .slider-next,
    .slider-prev {
        position: absolute;
        z-index: 22;
        width: 40px;
        height: 40px;
        top: 50%;
        transform: translateY(-50%);
        background-size: cover;

        &:after {
            display: none;
        }
    }

    .swiper-pagination-fraction {
        bottom: 0;
        padding-bottom: 5px;
        left: 0;
        width: 100%;
        color: var(--White, #FBFBFB);
        text-align: center;
        font-family: Mont;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background: linear-gradient(180deg, rgba(7, 23, 58, 0.00) 0%, rgba(5, 5, 5, 0.70) 100%);
    }
}

.objects__slide-info {
    transition: .3s ease-in-out;
    background: var(--White, #FBFBFB);
    padding: 16px 24px;
    height: 150px;
    position: relative;
    border: 1px solid var(--Light-grey, #D1D1D1);
    border-top: none;
    border-radius: 0 0 16px 16px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.objects__slide-head {
    padding-bottom: 8px;
    border-bottom: 1px solid #D9D9D9;

    p {
        color: var(--Black, #050505);
        font-family: Mont;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.15px;
    }

    span {
        color: rgba(60, 60, 60, 0.80);
        font-family: Mont;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }
}

.objects__slide-bottom {
    margin: auto 0 0 0;

    p {
        overflow: hidden;
        color: rgba(60, 60, 60, 0.70);
        text-overflow: ellipsis;
        font-family: Mont;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
    }

    span {
        color: rgba(60, 60, 60, 0.70);
        font-family: Mont;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0.1px;

        &+span {
            margin-left: 8px;

            &:before {
                content: '';
                width: 2px;
                height: 2px;
                border-radius: 50%;
                background: rgba(60, 60, 60, 0.70);
            }
        }
    }
}

.objects__slider-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 24px;

    .swiper-button-next,
    .swiper-button-prev {
        border-radius: 100px;
        border: 1px solid rgba(5, 5, 5, 0.30);
        width: 64px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        position: relative;
        top: initial;
        left: initial;
        right: initial;
        bottom: initial;
        margin: 0 28px;
        transition: .3s;

        svg path {
            transition: .3s;
        }

        &:hover {
            border: 1px solid rgba(5, 5, 5, 1);
            background: var(--Black, #050505);

            svg path {
                fill: #fff;
                fill-opacity: 1;
            }
        }

        &:after {
            display: none;
        }
    }
}

// questions section -------------------- //

.questions {
    padding: 160px 0 120px;
}

.questions__title {
    margin-bottom: 54px;
}

.questions__item {
    padding: 40px 0;
    border-bottom: 1px solid #D1D1D1;

    &:first-child {
        border-top: 1px solid #D1D1D1;
    }

    .descr {
        padding-top: 50px;
        display: none;

        ol,
        ul {
            padding-left: 20px;
        }

        p,
        li {
            color: rgba(33, 33, 33, 0.80);
            font-family: Mont;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: 0.3px;
            margin-bottom: 10px;
        }
    }
}

.questions__item-head {
    padding-right: 50px;
    position: relative;
    color: var(--Black, #050505);
    font-family: Mont;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    cursor: pointer;

    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 1px solid var(--Black-shade-9, #E6E6E6);

        &:before,
        &:after {
            content: '';
            width: 14px;
            height: 1px;
            background-color: #050505;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .4s;
            transform-origin: center;
        }

        &:before {
            transform: translate(-50%, -50%) rotate(-90deg);
        }
    }

    &.active {
        i:before {
            transform: rotate(0deg) translate(-50%, -50%);
            left: 50%;
        }
    }
}





// POPUP //

.popup__window {
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    background: rgba(33, 33, 33, 0.25);
    transition: .3s ease-in-out;
    z-index: 90;

    &.popup-call {
        .form-btn {
            margin: 8px 0 0 auto;
        }
    }

    &::-webkit-scrollbar {
        width: 0px;
        background: rgba(255, 255, 255, 0.0);
    }

    &.active {
        opacity: 1;
        visibility: visible;
        z-index: 999;

        .popup__body {
            opacity: 1;
            transform: translateY(0px);
        }
    }

}

.popup__wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__body {
    background: #050505;
    box-shadow: 0px 4px 4px rgba(28, 75, 133, 0.05);
    border-radius: 8px;
    max-width: 668px;
    width: 100%;
    padding: 100px 63px 85px;
    position: relative;
    transition: .2s;
    opacity: 0;
    transform: translateY(-10px);
    overflow: hidden;

    .popup-frame {
        position: absolute;
        top: 0;
        left: 0;
    }

    .popup__close {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;

        img {
            width: 24px;
            height: 24px;
        }
    }
}

.popup__head {
    margin: 0 auto 24px;
    max-width: 550px;

    h2 {
        color: var(--White, #FBFBFB);
        text-align: center;
        font-family: Mont;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 16px;
    }

    p {
        color: var(--Light-grey, #D1D1D1);
        text-align: center;
        font-family: Mont;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.3px;
    }
}

.popup__content {
    max-width: 436px;
    margin: 0 auto;

    form {
        max-width: 438px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .infotext {
            color: #FBFBFB;
            text-align: right;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.1px;
            width: 100%;
            margin-top: 8px;
        }
    }

    .inputfield {
        width: 206px;
        margin-top: 32px;
        position: relative;

        &.has-dropdown {
            cursor: pointer;
        }

        .dropdown-box {
            border-radius: 16px;
            background: var(--White, #FBFBFB);
            box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.09);
            position: absolute;
            z-index: 25;
            top: calc(100% + 2px);
            left: 0;
            display: none;

            ul {
                padding: 8px;

                li {
                    width: 100%;
                    display: inline-block;
                    border-radius: 8px;
                    padding: 8px 15px 8px 15px;
                    width: 100%;
                    transition: 0.3s;
                    border-radius: 8px;
                    cursor: pointer;

                    &:before {
                        content: '';
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        vertical-align: middle;
                        margin-right: 8px;
                        background-image: url(../img/svg/done_icon.svg);
                        opacity: 0;
                        transition: .3s ease-in-out;
                    }

                    &.active {
                        &:before {
                            opacity: 1;
                        }
                    }

                    &:hover {
                        background: rgba(209, 209, 209, 0.30);
                    }
                }
            }
        }

        &.price,
        &.area {
            &:after {
                content: '';
                position: absolute;
                width: 18px;
                height: 18px;
                right: 16px;
                top: 68%;
                transform: translateY(-50%);
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &.text {
            width: 100%;
        }

        &.price {
            &:after {
                background-image: url(../img/svg/dollar-icon.svg);
            }
        }

        &.area {
            &:after {
                background-image: url(../img/svg/area_metres.svg);
            }
        }

        &.operation {
            .has-dropdown:after {
                background-image: url(../img/svg/lang_arrow_white.svg);
                top: 70%;
            }
        }

        p {
            color: var(--White, #FBFBFB);
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.1px;
            margin-bottom: 4px;
        }

        textarea {
            resize: none;
            height: 110px;
            width: 100%;
            border-radius: 16px;
            border: 1px solid rgba(209, 209, 209, 0.8);
            color: rgba(209, 209, 209, 0.8);
            font-family: Mont;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.1px;
            padding: 9px 16px;
            background: transparent;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            outline: none;

            &::placeholder {
                color: rgba(209, 209, 209, 0.80);
                transition: .3s;
            }

            &:hover {
                border: 1px solid #fbfbfb;
                color: #fbfbfb;

                &::placeholder {
                    color: #fbfbfb;
                }
            }

            &:focus {
                border: 1px solid #159E34;
                box-shadow: 0px 0px 1px 0px #159E34;
                color: #fbfbfb;

                &::placeholder {
                    opacity: 0;
                }
            }
        }

        input[type=text] {
            width: 100%;
            border-radius: 100px;
            border: 1px solid rgba(209, 209, 209, 0.80);
            color: #fbfbfb;
            font-family: Mont;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.1px;
            padding: 9px 38px 9px 16px;
            background: transparent;
            cursor: pointer;

            &::placeholder {
                color: rgba(209, 209, 209, 0.80);
                transition: .3s;
            }

            &:focus::placeholder {
                opacity: 0;
            }
        }

        input {
            &::placeholder {
                color: rgba(209, 209, 209, 0.80);
                transition: .3s;
            }

            &:hover {
                border: 1px solid #fbfbfb;
                color: #fbfbfb;

                &::placeholder {
                    color: #fbfbfb;
                }
            }

            &:focus {
                border: 1px solid var(--Accent-darker-green, #159E34);
                box-shadow: 0px 0px 1px 0px #159E34;
                color: #fbfbfb;

                &::placeholder {
                    opacity: 0;
                }
            }
        }

        &.phone-field {
            cursor: pointer;

            .flag {
                position: absolute;
                width: 16px;
                height: 11px;
                background-size: cover;
                top: 38px;
                left: 16px;
            }

            &:after {
                content: '';
                position: absolute;
                background-image: url(../img/svg/arrow-field-phone.svg);
                width: 18px;
                height: 18px;
                left: 36px;
                top: 35px;
            }

            input {
                padding-left: 62px;
            }

            ul {
                border-radius: 16px;
                background: var(--White, #FBFBFB);
                box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.04);
                padding: 8px;
                width: 290px;
                position: absolute;
                z-index: 9;
                top: calc(100% + 10px);
                display: none;

                li {
                    padding: 8px 16px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    transition: .3s;
                    border-radius: 8px;

                    &:hover {
                        background: rgba(209, 209, 209, 0.30);
                    }

                    p {
                        margin: 0 auto 0 0;
                        color: #050505;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                        letter-spacing: 0.1px;
                    }

                    img {
                        width: 16px;
                        height: 11px;
                        margin-left: 4px;
                        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.15));
                    }
                }
            }
        }
    }
}

.form-btn {
    width: 204px;
    height: 38px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0 auto;

    &:before {
        content: '';
        background-image: url(../img/svg/form_btn_icon.svg);
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }
}
















// RESPONSIVE --------------------- //

@media(max-width: 1439.8px) {
    .own-heroscreen__title {
        max-width: 700px;
    }
}

@media(max-width: 1399.8px) {
    .steps .steps__title {
        font-size: 32px;
        margin-bottom: 90px;
    }

    .numbers {
        padding: 140px 0 40px;
    }

    .numbers__item-count p {
        font-size: 68px;
    }

    .own-heroscreen__title {
        max-width: 550px;
    }
}

@media(max-width: 1199.8px) {
    .steps {
        padding-bottom: 120px;
    }

    .steps__inner-row .col-lg-5 {
        margin-bottom: 100px;
    }

    .steps__inner-content h4 {
        font-size: 22px;
    }

    .steps__inner-btn {
        margin-top: 50px;
    }

    .steps__inner-content>ul {
        margin-top: 32px;
    }

    .steps__inner-content>ul>li {
        padding: 25px 0;
    }

    .questions {
        padding: 130px 0 100px;
    }
}

@media(max-width: 991.8px) {
    .popup__head {
        margin: 0px auto 40px;
    }

    .popup__head h2 {
        font-size: 30px;
    }

    .popup__body {
        padding: 80px 20px 45px;
    }

    .steps__inner-row {
        .step-number {
            position: relative;

            &:after,
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                left: 50%;
                transform: translateX(-50%);
                width: 3px;
                height: 61px;
                border-radius: 4px;
                background-color: #050505;
            }

            &:before {
                top: -60px;
            }

            &:after {
                bottom: -60px;
            }
        }

        &:nth-child(1) {
            .step-number:before {
                display: none;
            }
        }

        &:first-child .col-lg-5 {
            margin-bottom: 92px;
        }

        &:last-child {
            padding-top: 0;
        }

        .col-lg-5 {
            padding-top: 92px;
            margin-bottom: 92px;
        }

        .col-lg-6 {
            padding-top: 92px;
        }
    }

    .steps .steps__title {
        font-size: 28px;
        margin-bottom: 80px;
    }

    .steps {
        padding-bottom: 90px;
    }


    .col-lg-5.image-col {
        display: none;
    }

    .steps__inner .linesect:after {
        display: none;
    }

    .questions__item .descr {
        padding-top: 35px;
    }

    .objects {
        padding: 0 0 90px;
    }

    .numbers {
        padding: 100px 0 40px;
    }

    .numbers__item-count p {
        font-size: 52px;
    }

    .numbers__item {
        margin-bottom: 60px;
    }

    .own-heroscreen__title {
        max-width: 440px;
    }

    .own-heroscreen:after {
        background: linear-gradient(90deg, #050505 0%, rgba(5, 5, 5, 0.00) 151.53%);
        left: 0;
    }
}

@media(max-width: 767.8px) {
    .popup__body .popup__close {
        top: 0;
        right: 0;
    }

    .popup__window {
        background: #050505;
    }

    .popup__body .popup-frame {
        display: none;
    }

    .popup__content button {
        width: 100%;
        height: 40px;
    }

    .popup__body {
        padding: 75px 10px 45px;
        box-shadow: none;
    }

    .popup__head {
        margin: 0px auto 0px;

        p {
            font-size: 12px;
        }
    }

    .popup__head h2 {
        font-size: 24px;
    }

    .popup__content .inputfield {
        width: 100%;
        margin-top: 30px;
    }

    .steps__inner-content h4 {
        text-align: center;
    }

    .steps__inner-content>p {
        text-align: center;
    }

    .steps__inner-content>ul>li .row-info {
        margin-bottom: 24px;
    }

    .steps__inner-content>ul>li .row-info span {
        padding: 2px 16px;
    }

    .steps__inner-btn {
        margin-top: 32px;
        width: 100%;
    }

    .steps__inner-content>ul>li {
        padding: 16px 0;
    }

    .steps__inner-row .step-number {
        width: 40px;
        height: 40px;
    }

    .steps .steps__title {
        margin-bottom: 22px;
    }

    .questions__item-head {
        font-size: 22px;
    }

    .questions {
        padding: 90px 0 70px;
    }

    .questions__title {
        margin-bottom: 40px;
    }

    .objects__slider-arrows .swiper-button-next,
    .objects__slider-arrows .swiper-button-prev {
        width: 48px;
        height: 32px;
        margin: 0 16px;
    }

    .numbers__item-count p {
        font-size: 45px;
    }
}

@media(max-width: 575.8px) {
    .steps {
        padding-bottom: 65px;
    }

    .questions__item .descr {
        padding-top: 24px;
    }

    .questions__title {
        margin-bottom: 27px;
    }

    .questions__item-head {
        font-size: 18px;
    }

    .questions {
        padding: 48px 0 40px;
    }

    .objects__title {
        margin-bottom: 24px;
    }

    .objects {
        padding: 0 0 64px;
    }

    .numbers {
        padding: 32px 0 30px;
    }

    .numbers__item {
        margin-bottom: 24px;
    }

    .numbers__item-count p {
        font-size: 45px;
    }

    .numbers__item-count p {
        font-size: 32px;
    }
}

@media(max-width: 359.8px) {
    .steps__inner-content>ul>li .row-info span {
        padding: 2px 14px;
        font-size: 16px;
    }
}